<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.behincom.behincome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activityes.Login.actLogin"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activityes.actHesh"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activityes.Setting.actSetting"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activityes.Splash.actSplash"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activityes.Account.actProfile"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activityes.actMoveFAB"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activityes.Customer.actCustomer"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activityes.MapsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_maps" />
        <activity android:name=".Activityes.Main.actMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity android:name=".Activityes.Activities.actActivities"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".Activityes.actChoiseType"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Activityes.CustomerManager.actCustomerManager"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".Activityes.UserManager.actUserManager"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
    </application>

</manifest>